@-moz-document url("https://app.hostoo.io/"), url-prefix("https://app.hostoo.io/hosting"), url-prefix("https://app.hostoo.io/user"), url-prefix("https://app.hostoo.io/payment"), url-prefix("https://app.hostoo.io/support"), url-prefix("https://app.hostoo.io/api") {
:root {
  --hostoo: #45307e;
  --hostoo-hover: #8061d5;
  --alt-background: #464646;
  --alt-primary: #333;
  --alt-secondary: #626262;
  --alt-text: #fff;
  --alt-hover-text: #dbdbdb;
}

/* LOADING */
.h-m-page-loader {
  background: rgba(0, 0, 0, .25);
}

/* MASTER BACKGROUND */
.h-layout.h-layout-full-height.h-layout-admin {
  background: var(--alt-background);
}


/* INPUT SEARCH */
.hta-input-search > .input-group {
  box-shadow: 0 0 4px 4px RGBA(51, 51, 51, .25);
}

.hta-input-search > .input-group > input {
  background: var(--alt-secondary);
  border-color: var(--alt-secondary);
}

.hta-input-search > .input-group > .input-group-append > div {
  background: var(--alt-secondary);
  border-color: var(--alt-secondary);
}



/* NAVBAR */
nav.navbar {
  background: var(--hostoo);
  color: var(--alt-text);
}

nav.navbar > .navbar-brand > svg {
  fill: var(--alt-text);
}

nav.navbar > .navbar-brand > svg:hover {
  fill: var(--alt-hover-text);
}

nav.navbar > .navbar-nav > li:nth-child(2) > a {
  color: var(--alt-text);
}

nav.navbar > .navbar-nav > li:nth-child(2) > a:hover {
  color: var(--alt-hover-text);
}

nav.navbar > .navbar-nav > li:nth-child(5) > div > button {
  box-shadow: 0 0 0 3px var(--hostoo);
}



/* HOSPEDAGENS */
.h-sidebar-hosting .h-sidebar-list .h-sidebar-title {
    color: var(--alt-text);
}
.h-sidebar-hosting .h-sidebar-list .h-sidebar-title-wrapper::after {
    border-color: var(--alt-text);
}

.h-sidebar-hosting .h-sidebar-list .list-group .h-list-link {
    color: var(--alt-text);
}

.h-sidebar-hosting .h-sidebar-list .list-group .h-list-link:hover {
    color: var(--alt-hover-text);
}



/* CARDs */
.card {
  background: var(--alt-primary);
}

.card > .card-header,
.card > .card-body,
.card > .card-header .card-title,
.card-body .card-title-inner,
.card > .card-body a {
  color: var(--alt-text);
}

.card > .card-body a:hover {
  color: var(--alt-hover-text);
}



/* TABLE */
.table.table-custom-header thead th {
  background: var(--hostoo);
  color: var(--alt-text);
}
.table.table-custom-header thead th:hover {
  color: var(--alt-hover-text) !important;
}

.table > tbody > tr:nth-child(odd) {
    color: var(--alt-text);
    background: var(--alt-secondary);
}
.table > tbody > tr:nth-child(even) {
    color: var(--alt-text);
    background: var(--alt-primary);
}



/* MINHAS HOSPEDAGENS */
.h-o-card-hosting .card-header h5 {
  color: var(--alt-text);
}

.h-o-card-hosting .card-body a {
  color: var(--alt-text);
}

.h-o-card-hosting .card-body a:hover {
  color: var(--alt-hover-text);
}

.h-o-card-hosting .h-card-table-wrapper .vuetable-head-wrapper table {
  color: var(--alt-text);
}

.h-o-card-hosting .vuetable-head-wrapper .table.table-custom-header thead th {
    background: var(--hostoo);
}
.h-o-card-hosting .h-card-table-wrapper .vuetable-body-wrapper .domain-info-plan {
  color: var(--alt-hover-text) !important;
}



/* LISTA DE SITES */
.h-o-card-hosting table th {
  background: var(--hostoo) !important;
}

.h-a-icon-hosting-status.h-status-active {
  color: #3ec486;
}



/* SUPPORT TICKETS */
.h-o-card-tickets .list-group-item-action {
    background: var(--alt-secondary);
}

.h-o-card-tickets .list-group-item-action:hover {
    background: var(--alt-background);
}



/* CARD DA HOSPEDAGEM */
.h-o-card-hosting-top .nav-menu .nav-link,
.h-o-card-hosting-top .nav-menu .nav-link.active {
    color: var(--alt-text);
}

.h-o-card-hosting-top .nav-menu .nav-link:hover {
    color: var(--alt-hover-text);
}

.h-m-nav-pages .nav-item a {
    background: var(--alt-primary);
    color: var(--alt-text);
}

.h-m-nav-pages .nav-item a:hover {
    background: var(--alt-secondary);
}

.htm-table-dns tr.table-active:hover>td, .htm-table-dns tr.table-active>td {
  border-radius: 0;
  background: var(--hostoo-hover);
  color: var(--alt-text);
}


.h-p-user-notifications .h-notification-item {
  background: var(--alt-secondary);
}

.btn.dropdown-toggle.btn-link.dropdown-toggle-no-caret i {
  color: var(--alt-text) !important;
}

.btn.dropdown-toggle.btn-link.dropdown-toggle-no-caret i:hover {
  color: var(--alt-hover-text) !important;
}

.h-p-hosting-php .h-btn-group-php {
  box-shadow: inset 0 0 0 1px var(--alt-text);
  overflow: hidden;
}

.h-p-hosting-php .h-btn-group-php .btn-outline-primary:not(:disabled):not(.disabled).active {
  background: var(--alt-text);
  color: var(--alt-primary);
}

.h-p-hosting-php .h-btn-group-php .btn-outline-primary {
  border-radius: 0 !important;
  color: var(--alt-text);
}

.h-p-hosting-php .h-btn-group-php .btn-outline-primary:hover {
  background: var(--alt-hover-text);
  color: var(--alt-primary);
}

.h-p-hosting-php .h-btn-group-php .btn-outline-primary:not(:disabled):not(.disabled).active:hover {
  background: var(--alt-hover-text);
}

.h-table-php-settings td {
  background: var(--alt-primary) !important;
}

.h-table-php-settings td:hover .h-php-setting-title {
  color: var(--alt-text) !important;
}

.h-table-php-settings td:hover .h-php-setting-description {
  color: var(--alt-hover-text) !important;
}
}
