@-moz-document url-prefix("https://app.hostoo.io") {
  :root {
      --hostoo: #45307e;
      --hostoo-hover: #8061d5;
      --alt-background: #464646;
      --alt-primary: #333;
      --alt-secondary: #626262;
      --alt-text: #fff;
      --alt-hover-text: #dbdbdb;
  }

  /* LOADING */
  .h-m-page-loader {
      background: rgba(0, 0, 0, .25);
  }

  /* MASTER BACKGROUND */
  .h-layout.h-layout-full-height.h-layout-admin {
      background: var(--alt-background);
  }



  /* NAVBAR */
  nav.navbar {
      background: var(--hostoo);
      color: var(--alt-text);
  }



  /* LOGO */
  nav.navbar .navbar-brand svg {
      fill: var(--alt-text);
  }

  nav.navbar .navbar-brand svg:hover {
      fill: var(--alt-hover-text);
  }



  /* CREDITOS */
  nav.navbar .navbar-nav li:nth-child(2) a {
      color: var(--alt-text);
  }

  nav.navbar .navbar-nav li:nth-child(2) a:hover {
      color: var(--alt-hover-text);
  }



  /* IMG USUÁRIO */
  nav.navbar .navbar-nav li:nth-child(5) div button {
      box-shadow: 0 0 0 3px var(--hostoo);
  }


  /* INPUT SEARCH */
  .hta-input-search .input-group {
      box-shadow: 0 0 4px 4px RGBA(51, 51, 51, .25);
  }

  .hta-input-search .input-group input {
      background: var(--alt-secondary);
      border-color: var(--alt-secondary);
  }

  .hta-input-search .input-group .input-group-append div {
      background: var(--alt-secondary);
      border-color: var(--alt-secondary);
  }



  /* HOSPEDAGENS */
  .h-sidebar-list .h-sidebar-title-wrapper h5 {
      color: #fff;
  }
}
